body {
  background: url("background.jpg") no-repeat;
  background-size: 100% 100%;
  font-family: Arial, Helvetica, sans-serif;

}

h1 {
  margin:10px;
  text-align: center;
  color: white;
}

#box {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  border: 1px solid red;
}

#container {
  width: 50%;
  text-align: center;
}

p {
  font-weight: bold;
  color: white;
  border: 1px solid red;
}

#box1 {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid red;
}

input {
  border-radius: 6px;
  border: none;
  width: 300px;
  height: 50px;
  font-size: 18px;
  display: flex;
  text-align: center;
  margin: 10px;
  
}
h2{
  color: white;
}
button {
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  background-color: green;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 0px 30px;
}

#bb {
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border:  1px solid red;
}

.geeks {
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  padding: 0px 30px;
  color: white;
  background-color: orange;
  font-size: 18px;
}

.gmap_canvas {
  overflow: hidden;
  height: 300px;
  width: 650px;
  border-radius: 10px;
}
.mapouter{
  border: 1px solid red;
  width: 100%;
}
@media (max-width: 500px) {
  body{
    text-align: center;
    border: 2px solid red;
  }
  input{
    width: 70%;
  }

  #box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  #bb{
    width: 100%;
  }
 #box{
  display: flex;
  flex-direction: column;
 }
 .gmap_canvas {
  overflow: hidden;
  height: 300px;
  width: 100%;
}
#container img{
  width: 100%;
  
}
.mapouter{
  width: 100%;
}
}