body {
  background: url("background.jpg") no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin:10px;
  text-align: center;
  color: white;
}

#box {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
}

#container {
  width: 50%;
  text-align: center;
}

p {
  font-weight: bold;
  color: white;
}

#box1 {
  display: flex;
  justify-content: center;
  align-content: center;
}

input {
  border-radius: 6px;
  border: none;
  width: 300px;
  height: 50px;
  font-size: 18px;
  display: flex;
  text-align: center;
  margin: 10px;
  
}
h2{
  color: white;
}
button {
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  background-color: green;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 0px 30px;
}




#bb {
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.geeks {
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  padding: 0px 30px;
  color: white;
  background-color: orange;
  font-size: 18px;
}

.gmap_canvas {
  overflow: hidden;
  height: 300px;
  width: 650px;
  border-radius: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body{
    margin-left: 50%;
    background: url("background.jpg") no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  }
  #box1 {
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
  }
  #box {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .gmap_canvas {
    overflow: hidden;
    height: 300px;
    width: 70%;
    border-radius: 10px;
    margin: auto;
  }
  #container {
    width: 100%;
    align-items: center;
  }
  #container img{
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body{
    background: url("background.jpg") no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  }
  #box1 {
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: row;
  }
  #box {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .gmap_canvas {
    overflow: hidden;
    height: 300px;
    width: 50%;
    border-radius: 10px;
    margin: auto;
  }
  #container {
    width: 100%;
    align-items: center;
  }
  
}
/* css complete */
